:root {
    --cor-principal: #F69AB7;
    --cor-secundaria: #d4a7b0;
    --cor-terciaria: #6b4950;
    --cor-texto: white;
    --fonte-padrao: Arial, Helvetica, sans-serif;
    --fonte-titulo: Georgia, Times, 'Times New Roman', serif;
    --altura-grande: 50vh;
    --largura-grande: 50vw;
    --altura-media: 40vh;
    --largura-media: 30vw;
    --altura-pequena: 5vh;
    --largura-pequena: 10vw;
    --margem-padrao: 4vw;
    --texto-grande: 24px;
    --texto-medio: 18px;
}

#tituloSolucao{
    color: var(--cor-texto);
}

.Textos{
    color: var(--cor-texto);
}

#paginaHome {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    grid-gap: 20px; 
    padding: 20px;
}

#imgProd, #oqSolucao, #oqFara, #comoFuncionara, #textoSobre,  #solucao, #vantagens {
    padding: 20px;
    border: 2px solid var(--cor-secundaria);
    border-radius: 5px;
    background-color: var(--cor-secundaria);
}


#fotoIdoso {
    max-width: 100%;
    height: auto;
}

h1{
    color: var(--cor-texto);
}

#fotoHardware{
    max-width: 100%;
    height: auto;
}
@media screen and (max-width: 1000px) {
    #paginaHome {
        grid-template-columns: 1fr; /* Uma coluna em telas menores que 1000px */
    }

    #imgProd,
    #oqSolucao,
    #oqFara,
    #comoFuncionara,
    #textoSobre,
    #solucao,
    #vantagens {
        margin-right: 0; /* Remova a margem direita nas telas menores que 1000px */
    }
}

@media screen and (max-width: 600px) {
    #paginaHome {
        grid-template-columns: 1fr; /* Uma coluna em telas menores que 600px */
    }
}
@media screen and (max-width: 500px) {
    #paginaHome {
        grid-template-columns: 1fr; /* Uma coluna em telas menores que 500px */
    }

    #imgProd,
    #oqSolucao,
    #oqFara,
    #comoFuncionara,
    #textoSobre,
    #solucao,
    #vantagens {
        margin-right: 0; /* Remova a margem direita nas telas menores que 500px */
    }
}

@media screen and (max-width: 440px) {
    #paginaHome {
        grid-template-columns: 1fr; /* Uma coluna em telas menores que 440px */
    }
}

@media screen and (max-width: 388px) {
    #paginaHome {
        grid-template-columns: 1fr; /* Uma coluna em telas menores que 388px */
    }
}

@media screen and (max-width: 344px) {
    #paginaHome {
        grid-template-columns: 1fr; /* Uma coluna em telas menores que 344px */
    }
}

@media screen and (max-width: 290px) {
    #paginaHome {
        grid-template-columns: 1fr; /* Uma coluna em telas menores que 290px */
    }
}